/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app {
  width: 600px;
  margin: 0 auto;
}

/* form layout */

.form {
  display: flex;
  flex-direction: column;
}

.form-row {
  flex: 1;
}

mat-form-field {
  width: 100%;
}
